@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-color: 255, 255, 255;

  /* chart color */
  --chart-border-color: rgba(53, 162, 235, 0.8);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-color: 45, 45, 45;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-color))
}